.main {

  &_wrapper {
    @include flex_center_column;
    width:100%;
    height: calc(100vh - 70px); // 70px height of header
    background: $main_bg_color;
    color: $primary_text_color;
  }

  &_title {
    @include flex_center_column;
    font-size: 1.1rem;
  }

  &_progress_bar_wrapper {
    @include flex_center_column;
    width: 70%;
    height: auto;
    margin-top: 7rem;
  }

  &_buttons_container {
    @include flex_center;
    justify-content: space-between;
    width: fit-content;
    height: auto;
    margin-top: 7rem;
  }

  &_button {
    padding: .5rem;
    font-size: .8rem;
    color: $primary_text_color;
    box-shadow: $buttons_box_shadow;
    background: $buttons_bg_color;
    cursor: pointer;

    &:first-child {
      margin-right: 1rem;
    }

    &:last-child {
      margin-left: 1rem;
    }
  }
}

