$header_bg_color: #373737;
$main_bg_color: #242424;

$primary_text_color: #fff;

$bar_bg_container_color:#373737;
$bar_box_shadow: 0px 5px 5px -5px rgba(0, 0, 0, 0.5);

$buttons_bg_color: #373737;
$buttons_box_shadow: 0px 5px 5px -5px rgba(0, 0, 0, 0.5);